:root {
    --primary-color: #4d693c; 
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: #2d6052;
    font-family: 'Poppins', sans-serif;
}

.card {
    margin: 100px auto;
    width: 320px;
    height: 400px;
    background-color: rgb(149, 153, 145);
    padding: 20px;
    border-radius: 5%;
    position: relative;
}

.card_heart, .card_cart {
    color: white;
    font-size: 30px;
    position: absolute;
    left: 20px;
    top: 15px;
}

.card_cart {
    left: unset;
    right: 20px;
}

.card_img {
    width: 90%;
    transition: 1s;
}

.card_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_title, .card_price {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    transition: 1s;
}

.card_title {
    color: var(--primary-color);
}

.card_color, .card_size {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.card_size span {
    padding: 1px 12px;
    background: #dadada;
    color: black;
    border-radius: 5px;
    margin: 0 2px;
}

.card_color span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 2px;

}
.color-green {
    background: rgb(79, 91, 79);
}
.color-red {
    background: red;
}
.color-black {
    background: black;
}

.card_action button {
    background-color: var(--primary-color);
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 5px;
    transition: 0.25s;
    cursor: pointer;
}

.card_action button:hover {
    transform: scale(0.9);
}

.card:hover .card_img {
    transition: 1s;
    transform:translateY(-90px) rotate(-20deg);
}

.card:hover .card_title {
    transform:translate(-42px, -70px) ;
}
.card:hover .card_price {
    transform:translate(-119px, -70px) ;
}

.card_size {
    margin-top: 150px;
}

.card_size, .card_color, .card_action {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s ;
}

.card:hover .card_size,
.card:hover .card_color,
.card:hover .card_action {
    visibility: visible;
    opacity: 100;
}
.card:hover .card_size {
    margin-top: -30px;
}
